@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #0f7c49;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Merriweather', serif;
    margin: 0;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

input:focus, 
button:focus {
    outline: none;
}

header {
    background-image: url(./img/pngguru.png);
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center center;
    /* color: #ffffff; */
    background-color: #0f7c49;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: flex-end;
    padding: 100px 0;
    object-fit: fill;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0,0,0,0.3); */
}

header * {
    z-index: 1;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img.album-cover {
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    opacity: .7;
}

img.album-cover:hover {
    opacity: 1;
    box-shadow: 5px 10px 8px #888888;
}

/* .overview {
    background-color: rgb(35, 177, 47);
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
} */

.songs-list {
    margin: 1rem;
    width: 200px;
    text-align: center;
    color: whitesmoke
}

#search {
    background-color: transparent;
    border: 4px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin-right: 70px;
}

#search::placeholder {
    color: whitesmoke;
}

#search:focus {
    background-color: #0c9e7a;
    outline: none;
}

#search:focus::placeholder {
    color: transparent;
}

.btn {
    background-color: #03380b;
    border: 0;
    border-radius: 10px;
    color: whitesmoke;
    padding: 4px 10px;
}

audio {
    width: 110px;
    height: 20px;
}

.centered {
    display: flex;
    justify-content: center;
}

.centered button {
    transform: scale(1.3);
    margin: 15px;
}

.song-title-lyric {
    flex-basis: 100%;
    text-align: center;
}

h2.song-title-lyric {
    text-align: left;
    font-size: 26px;
    border-bottom: whitesmoke 1px solid;
}

span {
    font-size: 22px;
    /* font-family: 'Merriweather', serif; */
}